 # Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 日志文件
*.log

# Mac OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
.cursorindexingignore
.specstory/

# 其他
venv/
env/
ENV/